$context.putPageValue("showhover", "false")
$context.putPageValue("thumbsize", "thumb")
$context.putPageValue("showcaption", "true")
$context.putPageValue("hideheader", "true")


<table width="100%">
<tr>
<td width="66%">
			<div class="uipanel" >
				<div  class="ui-widget-header"><h3>Player</h3></div>
				<div  class="ui-widget-content playerbox">
				  <table>
				  <tr>
				  <td>
				  $pages.include("$apphome/components/mediaviewer/player/index.html",$context)
				  </td>
				  <td>
				  $pages.include("$apphome/components/mediaviewer/player/navigation.html",$context)
				  </td>
				  </tr>
				  </table>
				</div> 
			</div>
			
			<div class="uipanel commentboxX">
				<div  class="ui-widget-header"><h3>Comments</h3></div>
				<div  class="ui-widget-content">			
				$pages.include("$apphome/components/mediaviewer/comments/mini.html",$context)
				</div>
			</div>
</td>
<td width="33%">

<div  class="uipanel" >
	<div class="ui-widget-header"><h3>Details</h3></div>
	<div   class="ui-widget-content"	>

	$pages.include("/${applicationid}/components/mediaviewer/details/index.html",$context)

</div>
	
</div>

</td>
</tr>

</table>

  
  	$pages.include("/${applicationid}/components/results/mini.html",$context)
  